
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed&display=swap');

:root {
    --navcolor: linear-gradient(180deg, #E2EEEC -1.12%, #FFF 6.76%);
    --navfont: Roboto;
    --green-1: #53C351;
    --green-2: #254330;
    --green-3: #1C3A27;
    --black-1: #000;
    --white: #FFF;
    --intro-font: Montserrat;
    --introfont-size: 48px;
    --intro-font-weight: 700;
    --content-weight: 400;
    --section-2-3-4-intro-size:28px;
    --section-2-3-4-intro-weight:700;
    --section-2-3-4-next-size:15px;
    --section-2-3-4-next-weight:400;
    --caresoul-heading-size: 14px;
    --caresoul-heading-weight: 700;
    --caresoul-content-size: 10px;
    --caresoul-content-weight: 400;
    --footer-header-color: #FFF;
    --footer-header-weight: 600;
    --footer-content-size: 14px;
    --footer-content-weight: 400;
}

a{
    text-decoration: none;
}
body{
    box-sizing: border-box;
    margin: 0;
    
    
}

.main{
    padding:2% 10%;
    background-image: url("./assets/pexels-seb-360013.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1em 0;
    
}

.nav-text{ 
    list-style: none;
    color: var(--white);
    font-family: var(--intro-font);
    font-size: 1em;
    font-weight: var(--content-weight);

}
.nav-text:hover{
    color: var(--lightning-color);
    text-shadow: 0px 0px 10px var(--lightning-color),
                 0px 0px 20px var(--lightning-color),
                 0px 0px 40px var(--lightning-color),
                 0px 0px 80px var(--lightning-color),
                 0px 0px 120px var(--lightning-color),
                 0px 0px 160px var(--lightning-color);
}

.navigation{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3em;
    
}

li{
   
   
}

.logo{
    margin-top: 2em;
    width: 130.431px;
    height: 85px;
    flex-shrink: 0;
}
.btn-login{
    padding:8px 18px;
    border-radius: 10px;
    flex-shrink: 0;
    border: none;
    background: var(--green-1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-text{
    color:var(--white);
    font-family: var(--navfont);
}

.section-2{
    margin: 3em;
    

}
.section-2-word{
    
}

.intro-text{
    font-family: var(--intro-font);
    color: var(--white);
    font-size: var(--introfont-size);
    font-weight: var(--intro-font-weight);
    line-height: normal;
    letter-spacing: -1.4px;
}

.section-2-next{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.section-2-content{
    color: var(--white);
    font-family: var(--intro-font);
    font-size: var(--section-2-3-4-next-size);
    font-style: normal;
    font-weight: var(--section-2-3-4-next-weight);
    line-height: normal;
    letter-spacing: -0.42px;
}
.corn-img{
    margin-right: 1em;
   
   }

.section-2-final{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
}

.link{
    text-decoration: none;
    color: var(--white);
    font-family: var(--intro-font);
    font-size: var(--section-2-3-4-next-size);
    font-weight:200;
    line-height: normal;
}
.heading-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3{
    margin-top: 4em;
   
}
.section-3-header{
    margin: 0;
    color: var(--white);
    font-family: var(--intro-font);
    font-size: var( --section-2-3-4-intro-size);
    font-weight: var( --section-2-3-4-intro-weight);
    
}
.section-3-header-content{
    color: var(--white);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}

.section-3-carousel{
    padding: 3em;
    border-radius: 50px 50px 50px 5px;
    background-color: var(--green-2);
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.section-3-carousel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12em;
}
.paragraph-center1{
    font-size: 14px;
    font-family: var(--intro-font);
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0;
    color: var(--white);
}

.paragraph-center2{
    text-align: center;
    margin-top: 0;
    color: #000;
    font-family: var(--intro-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
    letter-spacing: -0.3px;
    color: var(--white);
}

.section-4-5-background{
    /* background: url(pexels-math-21393.jpg); */
    /* background: #57635b; */
}
.section-4{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;

}
.section-4-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.images{
        
}


.section-4-main{
    font-family: var(--navfont);
    padding: 3em 10%; 
    background: linear-gradient(180deg, #E2EEEC -1.12%, #FFF 6.76%);    background-size: cover;
    background-repeat: no-repeat;
}
.section-4-words{
    width: 40%;
    
}
.section-4-final{
    display: flex;
    align-items: center;
    
    gap:2em;
}
.button11{
    margin-top: 2em;
}
.button1{
    padding:8px 18px;
    border-radius: 10px;
    border: 1px solid var(--green-1);
    background: var(--green-2);
}

.button2{
    padding:8px 18px;
    border-radius: 10px;
    background: var(--green-1);
}

.button1-color{
    color: var(--footer-header-color);
    font-family: var(--navfont);
    font-size: 14px;
}
.button12{
    margin-top: 2em;
}
.button-2{
    padding:8px 18px;
    border-radius: 10px;
    background: var(--green-1);
    font-family: var(--navcolor);
}

.button2-color{
    color: var(--white  );
    font-family: var(--navfont);
    font-size: 14px;
}
.section-5-main{
    padding: 0 10%;
}
.section-5{
    
    height: 237px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 3em;
    border-radius: 50px 50px 50px 5px;
    background: #1C3A27;
    margin-bottom: 10em;
}
.section-5-words{
    font-family: var(--navfont);
    width: 90%;
}
.manimg{
    width: 268px;
    height: 395px;
    flex-shrink: 0;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}